<div class="d-flex justify-content-center align-items-center vh-100">
  <main class="form-signin w-100 m-auto text-center">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="emailInput" formControlName="email"
          placeholder="name@example.com">
        <label for="emailInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="passwordInput" formControlName="password"
          placeholder="Password">
        <label for="passwordInput">Password</label>
      </div>

      <div class="alert alert-danger" role="alert" *ngIf="errorMsg">
          {{errorMsg}}
      </div>
      <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
    </form>
  </main>
</div>
